In [ ]:
#Import pandas module.

import pandas as pd

In [ ]:
import pandas as pd

In [ ]:
#Load the dataset into a dataframe.

In [ ]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

In [ ]:
#Find how many duplicate rows exist in the dataframe.

In [ ]:
df.duplicated().sum()

154

In [ ]:
#Remove the duplicate rows from the dataframe.

In [ ]:
cleaned_df = df.drop_duplicates()

In [ ]:
#Verify if duplicates were actually dropped.

In [ ]:
print("Number of duplicate rows removed:", len(df) - len(cleaned_df))

Number of duplicate rows removed: 154

In [ ]:
#Find the missing values for all columns.

In [ ]:
df.isnull().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

In [ ]:
#Find out how many rows are missing in the column 'WorkLoc'

In [ ]:
df['WorkLoc'].isnull().sum()

32

In [ ]:
#Find the  value counts for the column WorkLoc.

In [ ]:
df['WorkLoc'].value_counts()

WorkLoc
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: count, dtype: int64

In [ ]:
#Identify the value that is most frequent (majority) in the WorkLoc column.

In [ ]:
workloc_value_counts = df['WorkLoc'].value_counts()

In [ ]:
most_frequent_workloc = workloc_value_counts.idxmax()

In [ ]:
print(most_frequent_workloc)

Office

In [ ]:
#Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [ ]:
df['WorkLoc'].fillna(most_frequent_workloc, inplace=True)

In [ ]:
#Verify if imputing was successful.

In [ ]:
df['WorkLoc'].isnull().sum()

0

In [ ]:
#List out the various categories in the column 'CompFreq'

In [ ]:
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

In [ ]:
#Create a new column named 'NormalizedAnnualCompensation'.

In [ ]:
df['NormalizedAnnualCompensation'] = None

In [ ]:
#Logic to arrive at the values for the column NormalizedAnnualCompensation

In [ ]:
def calculate_annual_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None

In [ ]:
#Fill the columns

In [ ]:
df['NormalizedAnnualCompensation'] = df.apply(calculate_annual_compensation, axis=1)

In [ ]:
#Show the result

In [ ]:
print(df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']])

      CompFreq  CompTotal  NormalizedAnnualCompensation
0       Yearly    61000.0                       61000.0
1       Yearly   138000.0                      138000.0
2       Yearly    90000.0                       90000.0
3      Monthly    29000.0                      348000.0
4       Yearly    90000.0                       90000.0
...        ...        ...                           ...
11547   Yearly   130000.0                      130000.0
11548   Yearly    74400.0                       74400.0
11549   Yearly   105000.0                      105000.0
11550   Yearly    80000.0                       80000.0
11551      NaN        NaN                           NaN

[11552 rows x 3 columns]